<div class="col-xs-12 col-sm-6">
  <h1>CloneAppFB</h1>
  <h2>ログイン</h2>
</div>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class="col-xs-12 col-sm-6">
  <div class="">
    <%= f.email_field :email, placeholder: "メールアドレス" %>
  </div>
  <div class="">
    <%= f.password_field :password, placeholder: "パスワード" %>
  </div>
  <div class="">
    <%= f.password_field :password_confirmation, placeholder: "パスワード再入力" %>
  </div>
  <div class="">
    <%= f.submit "ログイン" %>
  </div>
  <div class="">
    <%= link_to "パスワードを忘れた場合", "#" %>
  </div>
</div>
<% end %>
