<div class="main container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-6">
        <h1><%= @user.name %></h1>
        <% if current_user.id == @user.id %>
          <div class="mypage_top">
            <%= link_to "自己紹介を追加", "#" %>
          </div>
          <div class="mypage_header">
            <ul class="list-inline list-unstyled">
              <li>投稿</li>
              <li>その他</li>
            </ul>
            <ul  class="list-inline list-unstyled">
              <li>ストーリーズに追加</li>
              <li><%= link_to "プロフィールを編集", edit_user_path(@user.id) %></li>
              <li><%= link_to "アカウントを削除", user_path(@user.id), method: :delete, data: {confirm: '本当に削除して良いですか？'} %></li>
            </ul>
          </div>
          <div class="self_introduction panel panel-default">
            <h3>自己紹介</h3>
            <button class="btn btn-default btn-block">詳細を編集</button>
            <button class="btn btn-default btn-block">趣味を追加</button>
            <button class="btn btn-default btn-block">注目コンテンツを編集</button>
          </div>
          <div class="post panel panel-default">
            <ul class="list-inline list-unstyled">
              <li>
              <span class="user_icon glyphicon glyphicon-user" aria-hidden="true"></span></li>
              <li><div class="lead"><%= link_to "#{current_user.name}さん、その気持ち、シェアしよう", new_picture_path %></div></li>
            </ul>
            <ul  class="list-inline list-unstyled">
              <li>ライブ動画</li>
              <li>写真・動画</li>
              <li>気分・アクティビティ</li>
            </ul>
          </div>
        <% end %>
        <div class="my_image panel panel-default">
          <h3>写真</h3>
          <%= link_to "全ての写真を見る", "#" %>
          <% @some_picture.each do |picture| %>
          <div class="sample_image">
            <%= image_tag picture.image.url, height: "100" %>
          </div>
          <% end %>
        </div>
        <div class="my_pictures">
          <h3>投稿</h3>
          <div class="">
          <% @pictures.each do |picture| %>
            <div class="panel panel-default">
              <%= link_to "詳細", picture_path(picture.id) %>
              <ul class="list-inline list-unstyled" >
                <li><span class="user_icon glyphicon glyphicon-user"></span></li>
                <li><p class="picture_username"><%= picture.user.name %></li>
              </ul>
              <p class="picture_timestamp"><small><%=  picture.updated_at.strftime("%Y-%m-%d %H:%M") %></small></p>
              <p class="picture_content lead"><%= picture.content %></p>
              <% if picture.image.present? %>
                <%= image_tag picture.image.url, class: "img-responsive" %>
              <% end %>
              <ul class="list-inline list-unstyled">
                <li><%= link_to "いいね！", "#" %></li>
                <li><%= link_to "コメントする", "#" %></li>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
      </div>
    </div>
  </div>
</div>
