<div class="">
  <% if @picture.errors.any? %>
    <div class="" id="error_explanation">
      <h3>下記の <%= @picture.errors.count %>つのエラーにより、投稿できませんでした</h3>
      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<ul class="list-inline list-unstyled">
  <li><span class="user_icon glyphicon glyphicon-user"></span></li>
  <li><p class="picture_username"><%= current_user.name %></li>
</ul>
<%= form_with(model: @picture, url: new_or_edit, local: true) do |f| %>
  <div class="picture_content lead">
    <%= f.text_field :content %>
  </div>
  <div class="picture_image">
    <%= image_tag @picture.image.url, height: "300" if @picture.image && @picture.image.url %>
  </div>
  <div class="picture_image">
    <p>投稿に追加</p>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="picture_post">
    <%= f.submit "投稿" %>
  </div>
<% end %>
