<div class="main container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="stories">
          <h3>ストーリーズを作成</h3>
          <p>写真や動画、メッセージなどをシェアしよう。</p>
        </div>
        <div class="post">
          <%= link_to "◉", user_path(current_user.id) %>
          <%= link_to "#{current_user.name}さん、その気持ち、シェアしよう", new_picture_path %>
          <ul>
            <li>ライブ動画</li>
            <li>写真・動画</li>
            <li>気分・アクティビティ</li>
          </ul>
        </div>
        <div class="make_room">
          <%= link_to "ルームを作成しよう", "#" %>
        </div>
        <div class="recommend">
          <p>おすすめの投稿</p>
          <p><%= @recommend[0].user.name %></p>
          <p><%= @recommend[0].content %></p>
          <% if @recommend[0].image.present? %>
            <%= image_tag @recommend[0].image.url, height: "300" %>
          <% end %>
        </div>
        <div class="recommend">
          <p>おすすめの投稿</p>
          <p><%= @recommend[1].user.name %></p>
          <p><%= @recommend[1].content %></p>
          <% if @recommend[1].image.present? %>
            <%= image_tag @recommend[1].image.url, height: "300" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
      </div>
    </div>
  </div>
</div>
