<h3>投稿を作成</h3>
<%= link_to "◉", user_path(current_user.id) %>
<p><%= current_user.name %></p>
<%= form_with(model: Picture.new, local: true) do |f| %>
  <div class="picture_content">
    <%= f.text_field :content %>
  </div>
  <div class="picture_image">
    <p>投稿に追加</p>
    <%= f.file_field :image %>
  </div>
  <div class="picture_post">
    <%= f.submit "投稿" %>
  </div>
<% end %>
